/* Custom here */
* {
    margin: 0px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.content__wrapper {
    min-height: 80vh;
}

.btn__genre {
    margin-bottom: 10px;
}

h1>small.subheading {
    text-transform: capitalize;
}

span.genre__names {
    font-size: 12px;
}

table.content__info {
    font-size: 12px;
}

/* ./custom */


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

/* .table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead>tr>th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
} */

/* table */



.App-link {
    color: #61dafb;
}

/* COntent */
p.sysnopsis {
    font-size: 14px;
}